# Web
VITE_API_URL=http://localhost:3000

# API / Zeabur PostgreSQL
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public"
PORT=3000
CORS_ORIGIN="http://localhost:5173"
VITE_ADMIN_URL=http://localhost:5175
